
@if (ViewData["success"] != null)
{
    <script type="text/javascript">
        Swal.fire({
        position: 'center',
        icon: 'success',
        title: '@ViewData["success"]',
        showConfirmButton: false,
        timer: 2000
        })
    </script>
   
}

@if (ViewData["error"] != null)
{
     <script type="text/javascript">
          Swal.fire({
          icon: 'error',
          title: '糟糕',
          text: '@ViewData["error"]',
          footer: '<a>請撥打客服0800-654-175</a>'
        })
    </script>
   
}