@model BulkyBook.Models.ViewModels.ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id!=0?"更新":"新增")產品</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Product.Title">名稱</label>
            <input asp-for="Product.Title" class="form-control" />
            <span asp-validation-for="Product.Title" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Description">描述</label>
            <textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ISBN">ISBN</label>
            <input asp-for="Product.ISBN" class="form-control" />
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Author">作者</label>
            <input asp-for="Product.Author" class="form-control" />
            <span asp-validation-for="Product.Author" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ListPrice">最後價錢</label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price">價錢</label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price50">價錢(50本)</label>
            <input asp-for="Product.Price50" class="form-control" />
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price100">價錢(100本)</label>
            <input asp-for="Product.Price100" class="form-control" />
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Product.ImageUrl">上傳圖片</label>
            <input type="file" id="uploadBox" name="file" class="form-control" />

        </div>

        <div class="mb-3 col-6">
            <label asp-for="Product.CategoryId">類別</label>
            @* <select asp-for="Product.CategoryId" asp-items="ViewBag.CategoryList" class="form-select">*@
            <select asp-for="Product.CategoryId" asp-items="@(Model.CategoryList)" class="form-select">
                <option disabled selected>--選擇 類別--</option>
            </select>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
        </div>

        <div class="mb-3 col-6">
            <label asp-for="Product.CoverTypeId">清單</label>
            <select asp-for="Product.CoverTypeId" asp-items="@(Model.CoverTypeList)" class="form-select">
                @*<select asp-for="Product.CoverTypedId" asp-items="@(ViewData["CoverTypeList"] as IEnumerable<SelectListItem>)" class="form-select">*@
                <option disabled selected>--選擇 清單--</option>
            </select>
            <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
        </div>
        <div class="col-12">
            @if (Model.Product.Id != 0)
            {
                <button type="submit" class="btn btn-light" style="width:150px">更新</button>
            }
            else
            {
                <button type="submit" class="btn btn-light" onclick="return ValidateInpute()" style="width:150px">新增</button>
            }

            <a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">
                返回列表
            </a>
        </div>

    </div>
</form>
@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
<script>
    function ValidateInpute(){
        if(document.getElementById("uploadBox").value==""){
        Swal.fire({
                  icon: 'error',
                  title: '糟糕...',
                  text: '請上傳圖片!',
                  footer: '請上傳圖片'
                });
                return false;
        }
        return true;
    }
</script>

}

